<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    {{>links}}
</head>

<body>
    {{>navigation}}
    <p>Write your address to input a get weather data</p>
    <p>Seperate city, province and country by "," </p>


    <hr>
    {{>footer}}
</body>

</html>